@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #f6f7fc;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#navbar {
    display: flex;
    justify-content: right;
    word-spacing: 10px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 50px;
}

#profile {
    display: flex;
    background-color: white;
    margin: 40px;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 3px rgba(191, 191, 191, 0.33);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(191, 191, 191, 0.33);
    -moz-box-shadow: 0px 0px 5px 3px rgba(191, 191, 191, 0.33);
}

#image {
    flex: 1;
}

.profile-image {
    width: 100%;
    border-radius: 50%;
    margin-top: 11px;
}

#name {
    flex: 2;
    padding-left: 16px;
    border-right: 3px solid #cfcfcf;
}

#name p {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

#detail {
    flex: 4;
    padding-left: 16px;
}

.display-flex {
    display: flex;
}

.btn-kontak {
    margin-right: 16px;
}

td {
    padding: 4px;
}

@media (max-width: 576px) {
    #profile {
        flex-direction: column;
    }

    #name {
        border: none;
        text-align: center;
        padding-left: 0;
    }

    .display-flex {
        justify-content: center;
    }

    #detail {
        margin: auto;
        padding-top: 20px;
        padding-left: 0;
    }
}

#form-input {
    background-color: white;
    margin: 40px;
    border-radius: 4px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    margin-bottom: 10px
}

input[type=submit] {
    background: green;
    border: #cfcfcf;
    border-radius: 4px;
    padding: 7px;
    color: white;
    margin-top: 15px;
}

.btn-kontak {
    color: white;
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 4px;
    border-color: blue;
    margin-top: 7px;
}

.btn-resume {
    color: green;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 4px;
    border-color: green;
    margin-top: 5px;
}

td {
    padding-right: 50px;
}

a{
    text-decoration: none;
    color: gray;
}

